* {
  margin: 0;
}
.container {
  display: flex;
  height: 100vh;
  align-items: center;
}

.mainview {
  display: flex;
  justify-content: center;
  width: 75%;
  align-items: center;
}

.tempview {
  display: flex;
  justify-content: center;
  max-height: 10%;
  margin: 0;
  align-items: center;
  gap: 5px;
}

#temp {
  font-size: 50px;
}

.locationTime {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  background-color: red;
}

.imagecondition {
  display: flex;
  flex-direction: column;
  background-color: green;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

#condition {
  font-size: 25px;
}

.detailview {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  width: 25%;
  height: 50vh;
  justify-content: space-around;
  padding: 8px;
}

.search {
  display: flex;
  width: 90%;
  gap: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60%;
  color: aliceblue;
}

.weather_details {
  font-size: xx-large;
}

.backgroundImage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
}
.Clear {
  background-image: url("./Clear.jpg");
}
.Sunny {
  background-image: url("./Sunny.png");
}
.Rainy {
  background-image: url("./Rainy.jpg");
}

.Mist {
  background-image: url("./Mist.jpg");
}
.Overcast {
  background-image: url("./Overcast.jpg");
}

.Partly {
  background-image: url("./Partly\ cloudy.jpg");
}
